@value colors: '../../colors.css';
@value bgcPrimary, darkened, lightest, lightened, text, white from colors;

/* .Cast {
} */

.Cast__title {
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.Castlist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-color: bgcPrimary;
}

.Castlist__item {
  flex-basis: calc(100% / 3 - 20px);
  border: 3px solid lightened;
  border-radius: 8px;
  overflow: hidden;
}

.Castlist__item:not(:nth-child(3n)) {
  margin-right: 10px;
}

.Castlist__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 8px;
}

.Castlist__name {
  margin-bottom: 8px;
  padding-left: 5px;
  font-weight: 500;
}

.Castlist__character {
  height: 50px;
  padding-left: 5px;
  font-style: italic;
  overflow: hidden;
}

.Castlist__image {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
