@value colors: '../../colors.css';
@value bgcPrimary, darkened, lightest, lightened, text, white from colors;

.Nav {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  margin-bottom: 10px;

  background-color: bgcPrimary;
  color: text;
  /* border-bottom: 2px dotted darkened; */
}

.Nav__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 40px;
}

.Nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.Nav__item {
  display: block;
}

.Nav__item:not(:last-child) {
  margin-right: 20px;
}

.Nav__item:hover,
.Nav__item:focus {
  /* background-color: lightened; */
  transform: scale(1.05);
}

.link {
  display: block;
  width: 100px;
  padding: 5px;
  border: 3px solid lightest;
  border-radius: 8px;

  color: white;
  background-color: darkened;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  font-weight: 500;

  transition: transform 250ms linear;
}

.active {
  background-color: salmon;
  transform: scale(1.07);
}
